.title_menu{
	position: absolute;
	width: 80%;
	left: 50%;
	top: 50%;
	text-align: center;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	&__header{
		>h1{
			padding: 8px 16px;
			margin-bottom: 8px;
			font-size: 2.8em;
		}
	}
	&__start{
		padding: 8px 16px;
 		margin-bottom: 8px;
 		font-size: 2.3em;
	}
	&__setting{
		padding: 8px 16px;
 		margin-bottom: 8px;
 		font-size: 2.3em;
	}
}